extends /components/creative-base.pug

block variable
  - var page_title = 'Ray Tracing'

block page_script
  script(type='module').
    import execute from '@/scripts/creative_coding/simulation/ray_tracing/index.js';
    const root = document.getElementById('ray-tracing');
    execute().start(root.querySelector('#canvas'), root.querySelector('#config'));

block canvas_container
  +canvasContainer({ id: 'ray-tracing', canvasId: 'canvas', width: 500, height: 500, pixelated: true, hasConfig: true })
    +selectInput({ id: 'color-mapping', label: 'Spectrum Color Mapping' })
      option(value='camera') Camera Response
      option(value='approx') Approximation (RGB)
      option(value='approxXYZ' selected) Approximation (XYZ)
    wbr
    +selectInput({ id: 'spectrum-ref', label: 'Spectrum Reference' })
      option(value='Uniform' selected) Uniform
      option(value='D65') D65
      option(value='none') None
    +selectInput({ id: 'channel-ref', label: 'Channel Reference' })
      option(value='global' selected) Global Max
      option(value='channel') Channel Max
    br
    +checkboxInput({ id: 'white-balance', label: 'White Balance', checked: true })
    div#white-balance-options(data-select)
      +selectInput({ id: 'white-balance-reference', label: 'Reference' })
        option(value='Uniform') Uniform
        option(value='D65' selected) D65
        option(value='Wall-Light') Wall-Light
      div#white-balance-reference-container
        +numberInput({ id: 'white-balance-reference-itpl', label: 'Reference (Wall-Light)', value: 0, min: 0, max: 1, step: 0.00001, type: 'range', dataSelect: 'Wall-Light' })
    br
    +checkboxInput({ id: 'tone-mapping', label: 'Tone Mapping' })
    div#tone-mapping-options(data-select)
      +selectInput({ id: 'tone-mapping-reference', label: 'Reference' })
        option(value='Uniform') Uniform
        option(value='D65') D65
        option(value='Wall-Light' selected) Wall-Light
      div#tone-mapping-reference-container
        +numberInput({ id: 'tone-mapping-reference-itpl', label: 'Reference (Wall-Light)', value: 1, min: 0, max: 1, step: 0.00001, type: 'range', dataSelect: 'Wall-Light' })
      br
      +selectInput({ id: 'tone-mapper', label: 'Tone Mapper' })
        option(value='scaler') Scale
        option(value='scaler_lum') Scale (Luminance)
        option(value='reinhard') Reinhard
        option(value='reinhard_lum') Reinhard (Luminance)
        option(value='reinhard_jodie') Reinhard-Jodie
        option(value='reinhard_jodie_lum') Reinhard-Jodie (Luminance)
        option(value='reinhard_ext') Extended Reinhard
        option(value='reinhard_lum_ext') Extended Reinhard (Luminance)
        option(value='reinhard_jodie_ext') Extended Reinhard-Jodie
        option(value='reinhard_jodie_lum_ext' selected) Extended Reinhard-Jodie (Luminance)

block page_description
  p.
    In 3D computer graphics, ray tracing is a technique for modeling light transport for use in a wide variety of rendering algorithms for generating digital images. On a spectrum of computational cost and visual fidelity, ray tracing-based rendering techniques, such as ray casting, recursive ray tracing, distribution ray tracing, photon mapping and path tracing, are generally slower and higher fidelity than scanline rendering methods. Thus, ray tracing was first deployed in applications where taking a relatively long time to render could be tolerated, such as still computer-generated images, and film and television visual effects (VFX), but was less suited to real-time applications such as video games, where speed is critical in rendering each frame. Ray tracing is capable of simulating a variety of optical effects, such as reflection, refraction, soft shadows, scattering, depth of field, motion blur, caustics, ambient occlusion and dispersion phenomena (such as chromatic aberration). It can also be used to trace the path of sound waves in a similar fashion to light waves, making it a viable option for more immersive sound design in video games by rendering realistic reverberation and echoes. In fact, any physical wave or particle phenomenon with approximately linear motion can be simulated with ray tracing.
