extends /components/layout.pug

block title
  title Creative Coding

block content
  h1 Creative Coding
  p.
    Creative coding is a type of computer programming in which the goal is to create something expressive instead of something functional.
