extends /components/creative-base.pug

block variable
  - var page_title = 'Dithering'

block page_script
  script(type='module').
    import execute from '@/scripts/creative_coding/image_processing/dithering/index.js';
    const root = document.getElementById('dithering');
    execute().start(root.querySelector('#canvas'), root.querySelector('#config'));

block canvas_container
  +canvasContainer({ id: 'dithering', canvasId: 'canvas', width: 500, height: 500, pixelated: true, hasConfig: true })
    +fileInput({ id: 'image', label: 'Image:', accept: 'image/*' })

    +selectInput({ id: 'algorithm', label: 'Algorithm:' })
      option(value='order' selected) Ordered Dithering
      option(value='error') Error Diffusion

    +advancedConfig()
      +numberInput({ id: 'temperature', label: 'Temperature:', value: 1, min: 0, step: 0.00001, dataSelect: 'order error' })
      wbr
      +numberInput({ id: 'err_decay', label: 'Error Decay:', value: 0.5, min: 0, max: 1, step: 0.00001, dataSelect: 'error' })
      wbr
      +numberInput({ id: 'mask_order', label: 'Mask Order:', value: 4, min: 0, step: 1, dataSelect: 'order' })
      wbr
      +numberInput({ id: 'candidate_count', label: 'Candidate count:', value: 2, min: 0, step: 1, dataSelect: 'order' })
      wbr
      +selectInput({ id: 'order_mode', label: 'Order Mode:', dataSelect: 'order' })
        option(value='cie' selected) CIE
        option(value='rgb') RGB
        option(value='lum') Luminance

    +buttonInput({ id: 'apply', label: 'Execute' })
    br
    +paletteInput()

block page_description
  p.
    Dither is an intentionally applied form of noise used to randomize quantization error,
    preventing large-scale patterns such as color banding in images.
