extends /components/creative-base.pug

block variable
  - var page_title = 'Palette Extraction'

block page_script
  script(type='module').
    import execute from '@/scripts/creative_coding/image_processing/palette_extraction/index.js';
    const root = document.getElementById('palette-extraction');
    execute().start(root.querySelector('#canvas'), root.querySelector('#config'));

block canvas_container
  +canvasContainer({ id: 'palette-extraction', canvasId: 'canvas', width: 500, height: 500, hasConfig: true })
    +fileInput({ id: 'image', label: 'Image:', accept: 'image/*' })
    br
    +numberInput({ id: 'sample-size-cluster', label: 'Sampling size (clustering):', value: 1000, min: 1, step: 1 })
    br
    +numberInput({ id: 'auto-target', label: 'Target Color Count:', value: 0, min: 0, step: 1 })
    +buttonInput({ id: 'autorun', label: 'Autorun' })
    br
    +numberInput({ id: 'palette-count', label: 'Color Count:', value: 0, min: 0, step: 1 })
    details
      summary Palette:
        +buttonInput({ id: 'calc', label: 'Calculate' })
        +buttonInput({ id: 'snap', label: 'Snap to pixels' })
      textarea#palette-text
      div#palette
    br
    +buttonInput({ id: 'draw-raw', label: 'Draw (Raw)' })
    +buttonInput({ id: 'draw-quant', label: 'Quantize' })
    br
    +numberInput({ id: 'sample-size-eval', label: 'Sampling size (evaluation):', value: 1000, min: 0, step: 1 })
    wbr
    +numberInput({ id: 'eval-iter', label: 'Iterations (evaluation):', value: 3, min: 0, step: 1 })
    br
    +checkboxInput({ id: 'simplify-a', label: 'Simplify Intracluster distance' })
    +checkboxInput({ id: 'simplify-b', label: 'Simplify Intercluster distance', checked: true })
    br
    label(for='palette-score') Silhouette Score:
    output#palette-score(type='number', value='0')
    +buttonInput({ id: 'eval', label: 'Evaluate' })

block page_description
  p.
    In computer graphics, color quantization or color image quantization is quantization applied to color spaces;
    it is a process that reduces the number of distinct colors used in an image,
    usually with the intention that the new image should be as visually similar as possible to the original image.
