extends /components/layout.pug

block title
  title Home

block content
  h1 Welcome
  p.
    This is the home page of the website. You can use this page to display
    information about your website, or to provide links to other pages.
