//-@meta
//- @data: navbar
//- Navbar component
include /components/mixins.pug

nav.navbar.navbar-expand-lg.sticky-top.navbar-glass
  .container-fluid.px-lg-4
    a.navbar-brand.fw-bold(href=pagesData.navbar.brand.href)
      span.brand-icon(aria-hidden='true')!= pagesData.navbar.brand.icon
      | #{' '}
      = pagesData.navbar.brand.text
    button.navbar-toggler.border-0(type='button', data-bs-toggle='collapse', data-bs-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
      span &#xeb94;
    #navbarNav.collapse.navbar-collapse
      ul.navbar-nav.navbar-nav-scroll.ms-auto
        each item in pagesData.navbar.items
          +navbarItem(item)
