# defaults: can be overwritten by any page.

# last updated the site.
# siteupdated = 2026-09-28

# site title (part of page ${title} probably).
sitetitle = HanchaiN
# prefix site url.
siteurl = https://HanchaiN.github.io
# site mail used for contact "mail link".
# sitemail =
# site generator.
sitegenerator = saait (https://git.codemadness.org/saait/file/README.html)

# page

# page language.
lang = en

# default title.
title = Untitled
created = n.d.
