extends /components/layout.pug

block title
  title Hilbert Curve

block append script
  script(type='module').
    import execute from '@/scripts/creative_coding/generation/fractal/hilbert/index.js';

    const root = document.getElementById('hilbert');
    execute().start(
      root.querySelector('#canvas'),
    );

block content
  h1 Hilbert Curve
  #hilbert.preview-container
    canvas#canvas.border.border-primary.rounded.border-opacity-50(width='500', height='500')
  p.
    The Hilbert curve (also known as the Hilbert space-filling curve) is a continuous fractal space-filling curve first described by the German mathematician David Hilbert in 1891, as a variant of the space-filling Peano curves discovered by Giuseppe Peano in 1890.
