extends /components/layout.pug

block title
  title Elementary Cellular Automata

block append script
  script(type='module').
    import execute from '/static/scripts/creative_coding/simulation/compute/turing_machine/index.js';

    const root = document.getElementById('turing-machine');
    execute().start(
      root.querySelector('#canvas'),
    );

block content
  h1 Elementary Cellular Automata
  #turing-machine.preview-container
    div#canvas
  p.
    A Turing machine is a mathematical model of computation describing an abstract
    machine that manipulates symbols on a strip of tape according to a table of
    rules.
