extends /components/creative-base.pug

block variable
  - var page_title = 'Autocorrelation'

block page_script
  script(type='module').
    import execute from '@/scripts/creative_coding/audio_processing/autocorrelation/index.js';
    const root = document.getElementById('autocorrelation');
    execute().start(root.querySelector('#canvas'), root.querySelector('#config'));

block canvas_container
  +canvasContainer({ id: 'autocorrelation', canvasId: 'canvas', width: 500, height: 500, hasConfig: true })
    +buttonInput({ id: 'start', label: 'Start' })

block page_description
  p.
    Autocorrelation, sometimes known as serial correlation in the discrete time case, measures the correlation of a signal with a delayed copy of itself. Autocorrelation is widely used in signal processing, time domain and time series analysis to understand the behavior of data over time.
