@font-face {
  font-family: "Monaspace Neon";
  src: url("/static/fonts/MonaspaceNeonVar.woff2") format("woff2");
}

@font-face {
  font-family: "Monaspace Argon";
  src: url("/static/fonts/MonaspaceArgonVar.woff2") format("woff2");
}

@font-face {
  font-family: "Monaspace Krypton";
  src: url("/static/fonts/MonaspaceKryptonVar.woff2") format("woff2");
}

@font-face {
  font-family: "Monaspace Xeon";
  src: url("/static/fonts/MonaspaceXeonVar.woff2") format("woff2");
}

@font-face {
  font-family: "Monaspace Radon";
  src: url("/static/fonts/MonaspaceRadonVar.woff2") format("woff2");
}

@font-face {
  font-family: "Symbols Nerd Font";
  src: url("/static/fonts/SymbolsNerdFont.woff2") format("woff2");
}

:root {
  color-scheme: light dark;
  /* tx */
  --bs-body-color: light-dark(rgb(16, 15, 15), rgb(206, 205, 195));
  /* bg */
  --bs-body-bg: light-dark(rgb(255, 252, 240), rgb(16, 15, 15));
  /* tx2 */
  --bs-secondary-color: light-dark(rgb(111, 110, 105), rgb(135, 133, 128));
  /* bg2 */
  --bs-secondary-bg: light-dark(rgb(242, 240, 229), rgb(28, 27, 26));
  /* tx3 */
  --bs-tertiary-color: light-dark(rgb(183, 181, 172), rgb(87, 86, 83));
  /* bg2 */
  --bs-tertiary-bg: light-dark(rgb(242, 240, 229), rgb(28, 27, 26));
  /* b/w */
  --bs-emphasis-color: light-dark(rgb(0, 0, 0), rgb(255, 255, 255));
  /* ui */
  --bs-border-color: light-dark(rgb(230, 228, 217), rgb(40, 39, 38));
  /* cy */
  --bs-primary: light-dark(rgb(36, 131, 123), rgb(58, 169, 159));
  /* cy~bg2 */
  --bs-primary-subtle: light-dark(rgb(221, 241, 228), rgb(16, 31, 29));
  /* cy~ui3 */
  --bs-primary-border-subtle: light-dark(rgb(135, 211, 195), rgb(22, 79, 74));
  /* cy~tx */
  --bs-primary-text-emphasis: light-dark(rgb(16, 31, 29), rgb(135, 211, 195));
  /* gr */
  --bs-success: light-dark(rgb(102, 128, 11), rgb(135, 154, 57));
  /* gr~bg2 */
  --bs-success-subtle: light-dark(rgb(237, 238, 207), rgb(26, 30, 12));
  /* gr~ui3 */
  --bs-success-border-subtle: light-dark(rgb(190, 201, 126), rgb(61, 76, 7));
  /* gr~tx */
  --bs-success-text-emphasis: light-dark(rgb(26, 30, 12), rgb(190, 201, 126));
  /* re */
  --bs-danger: light-dark(rgb(175, 48, 41), rgb(209, 77, 65));
  /* re~bg2 */
  --bs-danger-subtle: light-dark(rgb(255, 225, 213), rgb(38, 19, 18));
  /* re~ui3 */
  --bs-danger-border-subtle: light-dark(rgb(248, 154, 138), rgb(108, 32, 28));
  /* re~tx */
  --bs-danger-text-emphasis: light-dark(rgb(38, 19, 18), rgb(248, 154, 138));
  /* or */
  --bs-warning: light-dark(rgb(188, 82, 21), rgb(218, 112, 44));
  /* or~bg2 */
  --bs-warning-subtle: light-dark(rgb(255, 231, 206), rgb(39, 24, 14));
  /* or~ui3 */
  --bs-warning-border-subtle: light-dark(rgb(249, 174, 119), rgb(113, 50, 13));
  /* or~tx */
  --bs-warning-text-emphasis: light-dark(rgb(39, 24, 14), rgb(249, 174, 119));
  /* bl */
  --bs-info: light-dark(rgb(32, 94, 166), rgb(67, 133, 190));
  /* bl~bg2 */
  --bs-info-subtle: light-dark(rgb(225, 236, 235), rgb(16, 26, 36));
  /* bl~ui3 */
  --bs-info-border-subtle: light-dark(rgb(146, 191, 219), rgb(22, 59, 102));
  /* bl~tx */
  --bs-info-text-emphasis: light-dark(rgb(16, 26, 36), rgb(146, 191, 219));

  --bs-font-sans-serif: "Monaspace Neon", monospace, "Symbols Nerd Font";
  --bs-font-monospace: "Monaspace Xenon", monospace, "Symbols Nerd Font";
}

@media (prefers-color-scheme: light) {
  :root {
    --bs-body-color-rgb: 16, 15, 15;
    --bs-body-bg-rgb: 255, 252, 240;
    --bs-secondary-color-rgb: 111, 110, 105;
    --bs-secondary-bg-rgb: 242, 240, 229;
    --bs-tertiary-color-rgb: 183, 181, 172;
    --bs-tertiary-bg-rgb: 242, 240, 229;
    --bs-emphasis-color-rgb: 0, 0, 0;
    --bs-border-color-rgb: 230, 228, 217;
    --bs-primary-rgb: 36, 131, 123;
    --bs-success-rgb: 102, 128, 11;
    --bs-danger-rgb: 175, 48, 41;
    --bs-warning-rgb: 188, 82, 21;
    --bs-info-rgb: 32, 94, 166;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --bs-body-color-rgb: 206, 205, 195;
    --bs-body-bg-rgb: 16, 15, 15;
    --bs-secondary-color-rgb: 135, 133, 128;
    --bs-secondary-bg-rgb: 28, 27, 26;
    --bs-tertiary-color-rgb: 87, 86, 83;
    --bs-tertiary-bg-rgb: 28, 27, 26;
    --bs-emphasis-color-rgb: 255, 255, 255;
    --bs-border-color-rgb: 40, 39, 38;
    --bs-primary-rgb: 58, 169, 159;
    --bs-success-rgb: 135, 154, 57;
    --bs-danger-rgb: 209, 77, 65;
    --bs-warning-rgb: 218, 112, 44;
    --bs-info-rgb: 67, 133, 190;
  }
}

.preview-container {
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 50%)); */
  display: flex;
  flex-wrap: wrap;

  & > .pixelated {
    image-rendering: pixelated;
  }
}
